<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Translator</title>
</head>
<body>
    <h1>Language Translator</h1>
    <form method="post">
         Microphone Input Button 
        <button type="submit" name="microphone">Speak</button>
        
        <label for="input_text">Or Enter Text:</label><br>
        <textarea id="input_text" name="input_text" rows="4" cols="50"></textarea><br>
        
        <label for="language_choice">Select Language:</label><br>
        <select id="language_choice" name="language_choice">
            {% for language in languages %}
            <option value="{{ language }}">{{ language }}</option>
            {% endfor %}
        </select><br>

        <button type="submit">Translate</button>
    </form>

    {% if translated_text %}
    <hr>
    <h2>Translated Text:</h2>
    <p>{{ translated_text }}</p>
    {% endif %}
</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Language translator</title>
  <!-- Link to Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="background">
    
    <!--<div class="blurry-background"></div>-->
    <img src="{{ url_for('static', filename='back.jpg') }}" alt="Background Image">

    <div class="content">
      <h1>Welcome to Our Language Translator App</h1>
      <p>This app provides real-time language translation with dynamic and interactive features.</p>
    </div>
  <!--</div>-->
    <div class="translator-form">
    <h1>Language Translator</h1>
    <form method="post">
       <!--Microphone Input Button -->
        <button type="submit" name="microphone">Speak</button>
      
        <label for="input_text">Or Enter Text:</label><br>
        <textarea id="input_text" name="input_text" rows="4" cols="50"></textarea><br>
      
        <label for="language_choice">Select Language:</label><br>
        <select id="language_choice" name="language_choice">
            {% for language in languages %}
            <option value="{{ language }}">{{ language }}</option>
            {% endfor %}
        </select><br>

        <button type="submit">Translate</button>
    </form>
  
    {% if translated_text %}
    <hr>
    <h2>Translated Text:</h2>
    <p>{{ translated_text }}</p>
    <button type="button" onclick="repeatTranslation()">Repeat</button>
    {% endif %}
  </div>
  </div>

  <!--<script src="script.js"></script>-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

